body{
    margin: 0;
}
/* Normalmente usam reset do Eric Mayer 
#button{             cool button
    display: inline;
    background-color:#F25A70 ;
    height: 60px;
    line-height: 60px;
    padding-left: 17px; 
    padding-right: 17px;
    box-shadow: 5px 5px 1px black;
}
*/

